<% content_for :title, "Notes" %>

<div class="w-full mx-auto my-8">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl">Notes</h1>
    <%= link_to "New note", new_note_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
  </div>

  <% if @notes.any? %>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <% @notes.each do |note| %>
        <%= render note %>
        <div class="flex flex-wrap gap-2 mt-2">
          <%= link_to "Show", note, class: "px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 rounded-md font-medium" %>
          <%= link_to "Edit", edit_note_path(note), class: "px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 rounded-md font-medium" %>
          <%= button_to "Destroy", note, method: :delete, form_class: "inline-block", class: "px-3.5 py-2.5 bg-red-600 text-white rounded-md hover:bg-red-500 font-medium", data: { turbo_confirm: "Are you sure?" } %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center text-gray-500 my-10">No notes found.</p>
  <% end %>
</div>
